Package: com.devvix.autoreplay
Name: AutoReplay
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Devvix
Author: Devvix
Section: Tweaks
Depiction: https://repo.devvix.com/depictions/?p=com.devvix.autoreplay
SileoDepiction: https://repo.devvix.com/sileodepictions/com.devvix.autoreplay/depiction.json
