Package: com.devvix.autoreplay
Name: AutoReplay
Depends: mobilesubstrate
Version: 1.0.3
Architecture: iphoneos-arm
Description: Automatically replay all videos inside the photos app!
Maintainer: Devvix
Author: Devvix
Section: Tweaks
Icon: https://repo.devvix.com/assets/TweakIcons/autoreplayicon.jpg
Depiction: https://repo.devvix.com/depictions/?p=com.devvix.autoreplay
SileoDepiction: https://repo.devvix.com/sileodepictions/com.devvix.autoreplay/depiction.json